h1{
    font-size: 56px;
    font-family: monospace;
}
.container{
    text-align: center;
    margin-top: 23px;
}
table{
    margin: auto;
}
input{
    font-size: 34px;
    border:  5px solid #95809d;
    border-radius: 22px;
    height: 65px;
    width: 456px;
}
button{
    font-size: 40px;
    background:h#978fa0;
    width: 102px;
    height: 65px;
    margin: 6px;
    border-radius: 20px;
}
.calculator{
    background-color: #7a4f65;
    padding: 23px;
    border-radius: 25px;
    display: inline-block;
    border: 4px solid#2f083e;
}
